body{
    width: 100%;
    height: auto;
    padding: 0 0 100px;
    background-attachment: fixed;
    background: #000 url(https://www.readmng.com/assets/img/background.jpg) no-repeat top center;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

/*HEADER*/
#header{
    width: 100%;
    height: 140px;
    margin-top: 20px;
    display: block;
}
#containerHeader{
    width: 970px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
#top{
    width: 1000px;
    height: 50px;
    display: flex;
    margin: 0 -15px;
}

/*SLIDER*/
#slider{
    width: 100%;
    height: 319px;
    margin-bottom: 20px;
    display: block;
}

/*BODY*/
#content{
    width: 970px;
    height: auto;
    padding: 0 15px;
    margin: 0 auto;
    background-color: rgba(106, 142, 35, 0);
}


/*FOOTER*/
#footer{
    width: 970px;
    height: auto;
    padding: 0 15px;
    margin: 15px auto 0;
    background-color: darksalmon;
}
#info{
    width: 946px;
    height: 26px;
    padding: 12px;
    background-color: fuchsia;
    margin: 0 0 15px;
}
#copyright{
    width: 970px;
    height: 32px;
    background-color: hotpink;
}