#slides{
    display: flex;
    width: 11000px;
    height: 100%;
}
#slide{
    width: 134px;
    height: 100%;
}
#slide:nth-child(n+1){
    margin-left: 20px;
}
#img{
    width: 100%;
    height: 193px;
    background-color: brown;
}
#title{
    width: 100%;
    height: 40px;
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    font-size: 11px;
}